:root {
  --custom-color: #ffc8c8;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Bebas Neue";
  src: url(../fonts/BebasNeue-Regular.ttf) format("truetype");
}

body {
  font-family: "Open Sans", sans-serif !important;
  background-color: #0f0233;
  color: white;
}

main {
  min-height: 70vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bebas Neue", sans-serif;
}

.btn-primary,
.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: var(--custom-color) !important;
  border-color: var(--custom-color) !important;
  color: black !important;
}

.btn-outline-primary {
  border-color: var(--custom-color);
  color: white;
}

.nav-tabs {
  border-color: var(--custom-color);
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--custom-color);
}

.nav-link.active {
  background-color: var(--custom-color) !important;
  color: black !important;
}

.carousel-caption {
  span {
    font-family: "Bebas Neue", sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.cartelera {
  img {
    transition: transform 0.3s ease;
  }

  img:hover {
    transform: scale(1.05);
  }
}

.modal-content {
  background-color: #0f0233;
}
